.App {
  text-align: center;
}

/*---header---*/

.logo-title{
  margin-top:2px;
}
.app-header {
  height:auto;
  padding:5px;
  font-weight: bold;
}
.app-links li{
  border: 1px solid #ED6D72;
}
.app-links li:hover{
  border: 1px solid white;
}
nav a:hover{
text-decoration: none;
color: white;
}


/*---forms---*/

.myform{
  width:100%;
    height:100%;
    border: 1px solid #CCC;
    padding: 20px 50px;
    box-shadow: 5px 5px 15px #888888;
    margin:90px 0 90px 0;
}
.form-header{
  text-align: center;
  color:#CCC;
  font-size:17px;
  width:auto;
  height:60px;
}

/*--Dashboard---*/

.dashboard-container{
padding:50px;
}

.cardimg{
  width:150px;
  height:150px;
  margin:10px auto;
}

.dash-card-btn a{
  margin:10px;
}

.dash-btn{
  margin: 0 auto;
}
.dash-btn a{
  margin:10px;
}

.db{
  background-color:red;
}

.myvideo{
  max-width:auto;
  height:300px;

 
  overflow: hidden;
}

.videomodal{
  width:1000px;
  height:500px;

}
