.App {
  text-align: center;
  color:#878f99;
}
.app-footer{
  background-color: #ED6D72;
  padding:15px;
  color:white;
}
.container{
  padding: 30px;
}
.title{
  text-transform: capitalize;
  margin:40px 0 30px 0;
  color:#b2ad7f;
}

.call-btn i{
  background-color: #a2b9bc;
  
}
.service-grid i{
  color: #a2b9bc;
}
/*---header---*/

.logo-title{
  margin-top:0px;
}
.app-header {
  height:auto;
  padding:5px;
  font-weight: bold;
  background-color: #6b5b95;
}
.app-links li{
  border: 1px solid #6b5b95;;
}
.app-links li:hover{
  border: 1px solid #878f99;
}
nav a:hover{
text-decoration: none;
color: white;
}

/*---Homepage---*/





/*---forms---*/

.myform{
  width:100%;
    height:100%;
    border: 1px solid #CCC;
    padding: 20px 50px;
    box-shadow: 5px 5px 15px #888888;
    margin:90px 0 90px 0;
}
.form-header{
  text-align: center;
  color:#CCC;
  font-size:17px;
  width:auto;
  height:60px;
}

/*--Dashboard---*/

.dashboard-container{
padding:50px;
}

.cardimg{
  width:150px;
  height:150px;
  margin:10px auto;
}

.dash-card-btn a{
  margin:10px;
}

.dash-btn{
  margin: 0 auto;
}
.dash-btn a{
  margin:10px;
}

.db{
  background-color:red;
}

.myvideo{
  max-width:auto;
  height:300px;

 
  overflow: hidden;
}

.videomodal{
  width:1000px;
  height:500px;

}

/**--namelist cards--**/

.card{
  padding:20px;
}

.card-content{
  text-transform: capitalize;
}


.notification{
 
  border:1px solid black;
  padding:10px;
  color:white;
  background-color: green;
  margin:30px;
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}



